<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1 class="text16">&lt;&lt; <%= title %> &gt;&gt;</h1>
  <br />
  <div>
    ようこそ <%= ad_name %> さま<br />
  </div>
  <ul>
    <li><a href="/admin/template">お問い合わせフォーム テンプレートを登録。</a></li>
  </ul><br />
  <a href="/">サイト topへ戻る</a>
</body>
</html>

