<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1 class="text16"><%= title %></h1>
    <div style="width:1500px;">
    <%= error %>
    </div>
    </form>
    <br />
    <a href="/">戻る</a><br />
</body>
</html>
